<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proyek2.blkindramayu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_blkindramayu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_blkindramayu"
        android:supportsRtl="true"
        android:theme="@style/NoBarAppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".activity.SemuaInfoActivity"
            android:theme="@style/SearchAppTheme"/>
        <activity
            android:name=".activity.RegistrasiActivity"
            android:theme="@style/NoBarLoginRegis" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/NoBarLoginRegis" />
        <activity android:name=".activity.DetailInfoActivity" />
        <activity android:name=".activity.BerandaActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".fcm.NotificationServices"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notif_icon" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorRed" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:resource="@color/colorRed"
            android:value="Default" />

    </application>



</manifest>